*{
	background-color: #b3ffe6;
}

/*---------heading styling-----*/

h1{
	text-align: center;
	padding: 30px;
}

/*-------form styling-----*/
form li{
	list-style: none;
	margin-bottom: 20px;
}

label{
	display: block;
	cursor: pointer;
	color: #292929;
}

textarea{
	width:200px;
	height: 200px;
}

/*----------button-----*/

button{
	color:black;
	text-align: center;
	border-radius: 10px;
}

a{
 margin-left:500px;
}